In [34]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
from sklearn.datasets import load_boston

from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neighbors import KNeighborsRegressor,KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.ensemble import AdaBoostClassifier,AdaBoostRegressor,RandomForestClassifier,RandomForestRegressor

from sklearn.naive_bayes import BernoulliNB,MultinomialNB,GaussianNB

from nltk.corpus import stopwords

In [36]:
boston = load_boston()
df = pd.DataFrame(boston.data,columns = boston.feature_names)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [9]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [2]:
df = pd.read_csv('weather-prediction.csv')
df

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,01-01-2015,12,8,4,11,7,3,94,88,78,...,18,9,5,39,21,60.0,0.51,7.0,Rain,209
1,02-01-2015,11,7,4,12,4,0,94,70,41,...,31,16,3,35,24,50.0,0.00,2.0,Rain,258
2,03-01-2015,6,4,2,6,3,1,100,91,70,...,31,10,2,19,10,NaN,7.11,5.0,Rain,19
3,04-01-2015,3,1,-2,3,1,-2,100,97,90,...,13,4,0,13,6,27.0,0.00,6.0,Fog,225
4,05-01-2015,10,6,2,8,5,2,100,86,67,...,31,10,3,19,10,NaN,0.25,6.0,NaN,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,27-10-2016,16,12,8,11,9,8,100,86,56,...,31,9,0,24,11,NaN,0.00,6.0,Fog-Thunderstorm,239
666,28-10-2016,17,13,10,12,11,9,94,79,63,...,31,14,8,24,16,NaN,0.00,7.0,NaN,262
667,29-10-2016,15,13,11,13,12,10,100,88,73,...,18,8,2,10,5,NaN,0.00,7.0,Rain,239
668,30-10-2016,12,10,8,11,10,7,100,96,82,...,10,2,0,13,5,NaN,0.00,7.0,Fog-Rain,56
669,31-10-2016,19,13,8,12,11,9,100,88,48,...,14,3,0,8,5,NaN,0.00,5.0,Fog,53

In [18]:
df.columns

Index(['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressurehPa',
       ' Mean Sea Level PressurehPa', ' Min Sea Level PressurehPa',
       ' Max VisibilityKm', ' Mean VisibilityKm', ' Min VisibilitykM',
       ' Max Wind SpeedKm/h', ' Mean Wind SpeedKm/h', ' Max Gust SpeedKm/h',
       'Precipitationmm', ' CloudCover', ' Events', 'WindDirDegrees'],
      dtype='object')

In [21]:
df.groupby([' Events']).groups.keys()

dict_keys(['Fog', 'Fog-Rain', 'Fog-Rain-Snow', 'Fog-Rain-Thunderstorm', 'Fog-Thunderstorm', 'Rain', 'Rain-Snow', 'Rain-Thunderstorm', 'Thunderstorm'])

In [26]:
df.groupby([' Events']).get_group('Rain')

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,01-01-2015,12,8,4,11,7,3,94,88,78,...,18,9,5,39,21,60.0,0.51,7.0,Rain,209
1,02-01-2015,11,7,4,12,4,0,94,70,41,...,31,16,3,35,24,50.0,0.00,2.0,Rain,258
2,03-01-2015,6,4,2,6,3,1,100,91,70,...,31,10,2,19,10,NaN,7.11,5.0,Rain,19
5,06-01-2015,10,6,2,9,4,1,100,83,63,...,31,14,5,32,14,39.0,1.02,5.0,Rain,226
6,07-01-2015,10,6,1,9,4,-1,100,84,59,...,29,14,10,34,14,53.0,0.25,4.0,Rain,211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,18-10-2016,14,11,9,10,7,3,94,74,37,...,31,13,10,29,16,NaN,0.00,4.0,Rain,258
658,20-10-2016,14,11,8,9,7,6,93,78,51,...,31,14,10,21,10,NaN,0.00,4.0,Rain,337
660,22-10-2016,14,10,5,8,7,5,100,83,52,...,31,11,5,14,6,NaN,0.00,3.0,Rain,17
663,25-10-2016,14,12,9,10,9,8,94,86,68,...,11,7,5,8,5,NaN,0.51,6.0,Rain,51
667,29-10-2016,15,13,11,13,12,10,100,88,73,...,18,8,2,10,5,NaN,0.00,7.0,Rain,239

In [27]:
import os

In [29]:
with open('machine learning.txt','w') as f:
    f.write('ability of machine to learn without explicitly programmed')

In [31]:
file = open('Data Science.txt','w')
file.write('It is the process of extracting data using scientific method')
file.close()

In [32]:
f = open('Data Science.txt','r')
data = f.read()
print(data)

It is the process of extracting data using scientific method